
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	background:#fff;
}

/****Side bar design ****/
.sidebar{
	position: absolute;
	left: 0;
	top: 0;
	width: 17%;
	height: 100%;
	background: #212121;
	border:none;
	border-top-right-radius:.2rem;
	border-bottom-right-radius: .5rem;
	box-shadow: 2px 2px 20px rgb(0 0 0 / 68%);
}

.profile{
	position: relative;
	background: transparent;
	width: 95%;
	height: 3.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: -2px -2px 15px rgba(255, 255, 255, 0.1), 
	15px 15px 15px rgba(0,0,0,0.3);


	top: 15%;
	border: none;
	border-top-right-radius:  .9rem;
	border-bottom-right-radius: .9rem;
}
#avatar{
	position: absolute;
	width: 35px;
	left: 10px;
	
}
#uname{
	position: absolute;
	font-size: 15px;
	left: 3.8rem;
	top: 18%;
	font-style: normal;
	color: #fff;
	
}
#toggle-btn{
	position: absolute;
	width: 25px;
	right: 10px;
}
#upriv{
	position: absolute;
	font-size: 13px;
	left: 3.8rem;
	top: 60%;
	opacity: 0.7;
	font-style: normal;
	color: #f3f3f3;
}
#logo{
		position: absolute;
	width: 25px;
	left: .7rem;
	top: 1.6rem;
}

#logoname{
	position: absolute;
	font-size: 25px;
	left: 2.5rem;
	top: 1.5rem;
	font-style: oblique;
	color: #fff;
	opacity: 0.8;

}

.list-of-options{
	position: relative;
	background: transparent;
	top: 20%;
	width: 100%;
	height: 50%;
	display: inline-block;

}
.sl{
	
	background: transparent;
	width: 100%;
	height: 15%;
	display:flex;
	align-items:center;
	justify-content:center;
	/*box-shadow: 0px 0px 2px rgb(0 0 0 / 58%);*/

}
.sl:hover ~ .stocklist{
	display: block;
}
.stocklist:hover{
	display: block;
	/*background: rgba(27, 195, 47, 0.6);*/

}
.add:hover{
	background:rgba(27, 195, 47, 0.2);
}
.stocklist a{
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}
.sl:hover #toggle-btn-s{
	transform: rotate(90deg);
}

.sla{
	position: relative;
	width: 100%;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: center;

	
}
.slas{
	position: relative;
	background: transparent;
	width: 100%;
	height: 20%;
}
.slah{
	position: relative;
	background: transparent;
	
	width: 100%;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#s{
	position: absolute;
	
	left: 30px;
	list-style: none;
	color: #fff;
	opacity: 0.8;
	text-align: right;
}
#stockslist{
	position: absolute;
	width: 19px;
	left: -22px;
}
#dash{
	position: absolute;
	width: 19px;
	left: -22px;
}
#noti{
	position: absolute;
	width: 19px;
	left: -22px;
}
.slah #his{
	position: absolute;
	
	left: 30px;
	list-style: none;
	color: rgba(255, 255, 255, 0.9);
	opacity: 1;
}
.sla #his{
	position: absolute;

	left: 30px;
	list-style: none;
	color: #fff;
	opacity: 0.8;
}
#summ{
	position: absolute;
	top: 20px;
	left: 20px;
	list-style: none;
	color: #fff;
	opacity: 0.8;
}
.sla{
	background: rgba(12,255,7,0.08);
	width: 100%;
	height: 20%;
}
.stocklist{
	display: none;
	background: transparent;
	padding-left: 5rem;	
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
}
#toggle-btn-s{
	position: absolute;
	width: 20px;
	left: 10rem;
	top: -0.1rem;
	filter: drop-shadow(10px 10px 10px #fff);
}
#stocklist{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-evenly;
}

.foot{
	position: absolute;
	width: 100%;
	height: 10%;
	bottom: rem;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
#logout{
	position: absolute;
	width: 30%;
	left: 0;
	
	cursor: pointer;
}

#foota{
	position: absolute;
	width: 50%;
	height: 40px;
	display: flex;
	left: 40px;
	top: 8rem;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: .3rem;
	
	background: transparent;
	justify-content: center;
	align-items: center;
	
}



/***** dashboard *****/
.dashboard{
	position: absolute;
	background: transparent;
	right: 0;
	width: 80%;
	height: 100%;


}
::-webkit-scrollbar{
	width: 5px;


}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);

 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 125, 20, 1.0);
  opacity: 0.5;
}
.dashboard h1{
	color: #242424;
	opacity: 0.7;
	font-style: oblique;
	position: absolute;
	top: 2%;
	left: 2%;
}
.notification{
	position: relative;
	width: 95%;
	height: 80%;
	background: transparent;
	top: 8%;
	left: .7%;
	
	display: flex;
	flex-direction: column;

}
.spannotif{

	padding: 2rem;
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	margin: .05rem;
	border: none;
	border-radius: .4rem;
	font-size: 14px;

}
/****** Dashboard ENds ******/